<div flex class="padding-left-5 padding-right-5 padding-bottom-2">

<md-nav-bar hide-xs md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
      
  <md-nav-item  md-nav-click="change_fmonth(0)" name="page1">1-4</md-nav-item>

  <md-nav-item md-nav-click="change_fmonth(4)" name="page2">5-8</md-nav-item>
    
  <md-nav-item md-nav-click="change_fmonth(8)" name="page3">9-12</md-nav-item>

  <md-nav-item md-nav-click="change_fmonth(12)" name="page4">13-13</md-nav-item>

</md-nav-bar>

<multiple-date-picker  
    ng-model="submit_form.holiday_list" 
    disable-days-before="submit_form.date_from"
    disable-days-after="submit_form.date_to"
    month = "months[fmonth+i]"
    disable-navigation="true"
    hide
>   
</multiple-date-picker>


  <form ng-submit="submit()" novalidate>
    <md-input-container class="md-block"> 
      <div class="padding-bottom-2">
        <label class="font-10">
          Select prefered dates *
        </label>
      </div>

      <div flex layout="row" hide-xs style="top-padding: 5%">
        <div ng-repeat="i  in getNumber(4)">
          <div flex class="padding-left-3 padding-right-3 padding-bottom-7">
            <multiple-date-picker  
              ng-model="submit_form.holiday_list" 
              disable-days-before="submit_form.date_from"
              disable-days-after="submit_form.date_to"
              month = "months[fmonth+i]"
              disable-navigation="true"
            >   
            </multiple-date-picker>
          </div>
        </div>
      </div>

      <div flex layout="column" hide-gt-xs class="padding-top-8">
        <div ng-repeat="i  in getNumber(13)">
          <div flex class="padding-left-3 padding-right-3 padding-bottom-7">
            <multiple-date-picker  
              ng-model="submit_form.holiday_list" 
              disable-days-before="submit_form.date_from"
              disable-days-after="submit_form.date_to"
              month = "months[fmonth+i]"
              disable-navigation="true"
            >   
            </multiple-date-picker>
          </div>
        </div>
      </div>

    </md-input-container>
    
    <md-input-container class="md-block">	
   		<label>
   			  Prefered number of leaves this year
   	  </label>
		
	    <input required type="number"  ng-model="submit_form.leaves" min="0" />
	  </md-input-container>

    <div layout="row">
     <md-button class="md-primary" flex="60" type="submit" ng-click="plans_resp()" ng-disabled="submited">Generate Plans</md-button>

<!-- 	    <md-button   class="md-primary md-hue-1" >Generate Plans</md-button>
 -->      <md-progress-circular flex align="center" md-mode="determinate" value="{{circle}}"></md-progress-circular>
    </div>

  </form>
	

</div>