<div layout="column" flex class="padding-left-5 padding-right-5  padding-bottom-5">

	<md-nav-bar hide-xs md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
      
	  	<md-nav-item class="padding-left-5" md-nav-click="change_rnumber(0)" name="page1">r1</md-nav-item>

  		<md-nav-item md-nav-click="change_rnumber(1)" name="page2">r2</md-nav-item>
    
  		<md-nav-item md-nav-click="change_rnumber(2)" name="page3">r3</md-nav-item>

  		<md-nav-item md-nav-click="change_rnumber(3)" name="page4">r4</md-nav-item>

	</md-nav-bar>

	<div hide-gt-xs layout="row"> 
		<span flex="80"></span>
    	<md-button flex class="md-icon-button md-primary icon-1" aria-label="Settings" ng-click="openSideNavPanel()">
        <md-icon md-svg-icon="images/icons/menu.svg"></md-icon>
   		</md-button>
    </div>

 	<md-sidenav hide-gt-xs class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    	<md-toolbar layout="row">
     		<div class="md-toolbar-tools">
        		<h4>
          			<span>Recommendations</span>
        		</h4>
        		<span flex></span>
        		<md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeSideNavPanel()">
          			<md-tooltip>Close Side Panel</md-tooltip>
        	  		<md-icon class="small-icon" md-svg-icon="images/icons/cross.svg"></md-icon>
        		</md-button>
    		</div>
    	</md-toolbar> 
	
		<md-list layout="column">
			<md-button ng-repeat="i in getNumber(4)" flex class="md-primary" ng-click="changeRnumberSidenav(i)">recommendation {{i+1}}</md-button>
		</md-list>    
	</md-sidenav>



	<div ng-repeat="i in getNumber(3)" layout="row" layout-xs="column" class="padding-left-1 padding-right-1">	
		<div class="padding-left-1 padding-right-1 padding-top-1" ng-repeat="j  in getNumber(5)">
			<multiple-date-picker  
				ng-model="recommendations[rnumber]['plan']" 
				disable-days-before="date_from"
				disable-days-after="date_to"
				day-click=disableClick
				month = "months[i*5+j]"
				disable-navigation="true"
			>		
			</multiple-date-picker>
		</div>
	</div>
	
</div>
